<div id="downloadclient" class="Box">
	<div class="Corner-tl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tl.gif);"></div>
	<div class="Corner-tr" style="background-image:url({{IMAGE_PATH}}/global/content/corner-tr.gif);"></div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="BorderTitleText" style="background-image:url({{IMAGE_PATH}}/global/content/title-background-green.gif);"></div><img id="ContentBoxHeadline" class="Title" src="{{IMAGE_PATH}}/global/strings/headline-downloadclient.gif" alt="Contentbox headline">
	<div class="Border_2">
		<div class="Border_3">
			<div class="BoxContent" style="background-image:url({{IMAGE_PATH}}/global/content/scroll.gif);">
				<div class="TableContainer">
					<div class="CaptionContainer">
						<div class="CaptionInnerContainer">
							<span class="CaptionEdgeLeftTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightTop" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionBorderTop" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionVerticalLeft" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<div class="Text">Download Client</div>
							<span class="CaptionVerticalRight" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-vertical.gif);"></span>
							<span class="CaptionBorderBottom" style="background-image:url({{IMAGE_PATH}}/global/content/table-headline-border.gif);"></span>
							<span class="CaptionEdgeLeftBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
							<span class="CaptionEdgeRightBottom" style="background-image:url({{IMAGE_PATH}}/global/content/box-frame-edge.gif);"></span>
						</div>
					</div>
					<table class="Table5" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div class="InnerTableContainer" style="max-width: unset; padding: 10px;">
										
										<!-- Official Tibia Client -->
										<div class="TableShadowContainer" style="margin-bottom: 16px; border: 1px solid #795d37; background-color: #fff6e4; padding: 15px; text-align: center;">
											<h2 style="font-size: 18pt; font-family: sans-serif; color: #5a2800; margin-top: 5px; margin-bottom: 15px; font-weight: bold;">Official Tibia Client</h2>
											<div style="margin-bottom: 15px;">
												<a href="https://github.com/Matheusbritto77/tibia/releases/download/v4.2.0/otclient-windows.zip" target="_blank">
													<img style="width: 64px; height: 64px; border: 0px;" src="{{IMAGE_PATH}}/account/download_windows.gif">
												</a>
											</div>
											<div style="font-weight: bold; font-size: 13pt; margin-bottom: 8px;">
												<a href="https://github.com/Matheusbritto77/tibia/releases/download/v4.2.0/otclient-windows.zip" target="_blank" style="color: #002e97; text-decoration: underline;">Download Tibia<br>Windows Client</a>
											</div>
											<p>[<span class="HelpLink" style="width: 18px; height: 18px; color: #002e97; cursor: pointer; text-decoration: underline;">
												<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Requirements:', '<p><b>Minimum:</b><ul><li>OS: Windows 10 / 11 (64-bit)</li><li>Processor: 1.5 GHz Pentium 4 or equivalent</li><li>Memory: 2GB RAM</li><li>Graphics: DirectX 11 / OpenGL 2.1 support</li><li>Hard Drive: min. 150 MB</li></ul>', '');" onmouseout="$('#HelperDivContainer').hide();">system requirements</span>
											</span>]</p>
										</div>

										<!-- Unsupported Tibia Clients -->
										<div class="TableShadowContainer" style="margin-bottom: 16px; border: 1px solid #795d37; background-color: #fff6e4; padding: 15px; text-align: center;">
											<h2 style="font-size: 16pt; font-family: sans-serif; color: #5a2800; margin-top: 5px; margin-bottom: 15px; font-weight: bold;">Unsupported Tibia Clients</h2>
											<table style="width: 100%;">
												<tr>
													<td style="width: 50%; padding: 10px; border-right: 1px dashed #b8a282; text-align: center;">
														<div style="font-weight: bold; font-size: 12pt; margin-bottom: 8px;">
															<a href="https://github.com/Matheusbritto77/tibia/releases/download/v4.2.0/otclient-windows.zip" target="_blank" style="color: #002e97; text-decoration: underline;">Download Tibia<br>Linux Client</a>
														</div>
														<p>[<span class="HelpLink" style="width: 18px; height: 18px; color: #002e97; cursor: pointer; text-decoration: underline;">
															<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Information:', '<p>Linux client is provided as is. Compiling or running it requires standard OpenGL dependencies.</p>', '');" onmouseout="$('#HelperDivContainer').hide();">information</span>
														</span>]</p>
													</td>
													<td style="width: 50%; padding: 10px; text-align: center;">
														<div style="font-weight: bold; font-size: 12pt; margin-bottom: 8px;">
															<a href="https://github.com/Matheusbritto77/tibia/releases/download/v4.2.0/otclient-macos.dmg" target="_blank" style="color: #002e97; text-decoration: underline;">Download Tibia<br>macOS Client</a>
														</div>
														<p>[<span class="HelpLink" style="width: 18px; height: 18px; color: #002e97; cursor: pointer; text-decoration: underline;">
															<span class="HelperDivIndicator" onmouseover="ActivateHelperDiv($(this), 'Information:', '<p>macOS client is compatible with Apple Silicon and Intel Macs. Drag the app to your Applications folder.</p>', '');" onmouseout="$('#HelperDivContainer').hide();">information</span>
														</span>]</p>
													</td>
												</tr>
											</table>
										</div>

										<!-- Disclaimer -->
										<div class="TableShadowContainer" style="border: 1px solid #795d37; background-color: #fff6e4; padding: 15px;">
											<table class="TableContent" width="100%">
												<tbody>
													<tr>
														<td class="LabelV" style="font-weight: bold; color: #5a2800; font-size: 11pt; margin-bottom: 5px;">Disclaimer</td>
													</tr>
													<tr>
														<td style="font-size: 10pt; line-height: 1.4; color: #3a3a3a;">
															The software and any related documentation is provided "as is" without warranty of any kind. The entire risk arising out of use of the software remains with you. In no event shall astarOT or Britto Dev be liable for any damages to your computer or loss of data.
														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="Border_1" style="background-image:url({{IMAGE_PATH}}/global/content/border-1.gif);"></div>
	<div class="CornerWrapper-b">
		<div class="Corner-bl" style="background-image:url({{IMAGE_PATH}}/global/content/corner-bl.gif);"></div>
	</div>
	<div class="CornerWrapper-b">
		<div class="Corner-br" style="background-image:url({{IMAGE_PATH}}/global/content/corner-br.gif);"></div>
	</div>
</div>
